.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
dist
lib
lib.browser
src
tsconfig.json
tslint.json
.prettierrc
/jest-html-reporters-attach/
jest_html_reporters.html
